---
title: "dwesleybrown.com"
bodyclasses: "home"
eleventyExcludeFromCollections: true
date: 2020-01-01
updated: 2020-01-01
---
{% extends "layouts/base.njk" %}
{% block sidebar %}
{% set navPages = collections.all | eleventyNavigation('home') %}
        <ul>
          <li class="currentPageIndicator"><a href="/">home</a></li>
          {% for entry in navPages %}
          <li{% if entry.url == page.url %} class="currentPageIndicator"{% endif %}>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a><span class="nav-tagline">{{ entry.tagline }}</span>
          </li>
          {% endfor %}
        </ul>
{% endblock %}

{% block content %}
<div id="homeContent" >
  <div class="center" > 
    <h2>
      Hi!
     </h2>
     <p>Welcome to my small corner of the web. Remember personal websites?
      If you do, good on you for the mental elasticity. For the rest of you, <a href="https://www.ask.com/"></a>Ask Jeeves</a> about it.
      It was a thing before social media in the 00s.
      I wanted a discoverable place to keep longer form write ups on things I'm doing and building that I can control.
    
    </p>

     &nbsp;&nbsp;&nbsp;&nbsp;&ndash;&nbsp;Doug</p>
  </div>
</div>
{% endblock %}
{% block updates %}
  <nav id="updates" class="center">
    <h2>Recent Updates</h2>
    <ul>
      {% for page in collections.all | sortByUpdated %}
        {% if loop.index <= 15 %}
          {% set array = page.url | getParent %}
          {% set parentUrl = array[0] %}
          {% set parentSlug = array[1] %}
          {% if page.data.title and not page.data.hideUpdate %} {# Hide pages that don't have a title #}
            <li>
              <span class="publish-date mobile-hide">
                <!-- Latest Date Shown, published or updated -->
                {% if page.data.date and not page.data.updated  %}  {{ page.data.date | utcDate('YYYY-MM-DD') }}{% endif %}
                {% if page.data.date and page.data.updated  %}  {{ page.data.updated | utcDate('YYYY-MM-DD') }}{% endif %}
              -
              </span>
              
                {% if (parentSlug!=="home") %}
                  <em class="publish-date mobile-hide">{{parentSlug}}    -</em>
                  
                {% endif %}
 
          
              <a href="{{ page.url }}">{{ page.data.title }}</a>
              <!-- <em>{{parentSlug}}</em> -->
            </li>
          {% endif %}
      {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endblock %}
